<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="imagenes"></div>
  <fieldset style="height:200px;  background: #34C455">
  <img style="padding: 19%" class="img" src="/assets/icon/02.png"/>
</fieldset><br><br><br><br><br>
  <style background-color: green> </style>
  <form (ngSubmit)=login(forma) #forma="ngForm">
    <ion-item>
      <fieldset style="width: 100%">
      <legend>Usuario</legend>
      <ion-input required ngModel type="text" ngModel #user="ngModel" name="user"  minlength="3" maxlength="50"  ></ion-input></fieldset>
    </ion-item><br>
    <ion-item>
        <fieldset style="width: 100%">
            <legend>Contraseña</legend>
      
      <ion-input required ngModel #password="ngModel"  type="password" name="password"  minlength="3" maxlength="50" ></ion-input></fieldset> <br><br><br>
    </ion-item><br>
    <ion-button expand="full" type="submit" [disabled]=!forma.valid routerLink="app/tabs/tab1">Ingresar</ion-button>
    <div class="Forgot">
      <a href="tab4">¿Aún no tienes contraseña?</a>
    </div>
    <ion-button expand="full" type="submit"  routerLink="tab4">Registrarse</ion-button>

  </form>
</ion-content>


