*{
    padding:0px ;
    margin:0px;
}

#imagenes {
    display: block;
    margin:auto ;
    

}

#label{
    float: center;
}
#ion-button {
    align-self: center;
}
 
.Forgot{
    text-align: center;
    padding: 10px 0px
}